/* OLD CODE */


/* :root {
  --dark-purple: #202330;
  --light-purple: #7b84aa;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, var(--dark-purple), var(--light-purple));
}


.header img {
  width: 10rem;
  border-radius: 50%;
  justify-self: center;
  align-self: flex-end;
}

.main-title {
  align-self: flex-start;
}
 */

